# Sphinx documentation requirements
sphinx==7.2.6
sphinx-rtd-theme==3.0.2
sphinx-autodoc-typehints==2.0.1
sphinx-copybutton==0.5.2
sphinx-tabs==3.4.7
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sphinxcontrib-spelling==8.0.0

# Additional extensions
myst-parser==3.0.1
sphinxext-opengraph==0.10.0
sphinx-panels==0.4.1
sphinx-issues==5.0.1

# Development tools
pre-commit
black==25.1.0
flake8==7.3.0
